/* Styles.css */

/* Barre de recherche */
.search-box {
    -fx-background-color: #FFD6E7; /* Rose clair */
    -fx-background-radius: 100;
}

/* Éléments transparents */
.transparent {
    -fx-background-color: rgba(0, 0, 0, 0);
}

/* Bouton de recherche */
.search-button {
    -fx-background-color: #6A0572; /* Violet foncé */
    -fx-background-radius: 30;
}

/* Barre latérale droite */
.right-bar {
    -fx-background-color: #FFEBF3; /* Rose clair */
}

/* Effet d'ombre */
.shadow {
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.1), 10.0, 0.0, 0.0, 10.0);
}

/* Carte d'établissement sélectionnée */
.chosen-etablissement-card {
    -fx-background-color: #B17EFA; /* Mauve */
    -fx-background-radius: 30;
}

/* Liste déroulante */
.comboBox {
    -fx-background-color: rgba(255, 182, 193, 0.3); /* Rose clair avec transparence */
    -fx-background-radius: 30;
}

/* Bouton Ajouter */
.add-btn {
    -fx-background-color: #FFC0CB; /* Rose */
    -fx-background-radius: 30;
}

/* Carte Livraison gratuite */
.free-delivery-card {
    -fx-background-color: #FFC0CB; /* Rose */
    -fx-background-radius: 30;
}

/* Carte Achat en ligne */
.shopping-online-card {
    -fx-background-color: #BAEAC3; /* Vert menthe */
    -fx-background-radius: 30;
}

/* Élément d'établissement */
.etablissement-item {
    -fx-background-color: #FFFAFA; /* Blanc neige */
    -fx-background-radius: 30;
}
.selected-item {
    -fx-background-color: lightblue; /* Couleur de fond lors de la sélection */
}
